@import 'node_modules/primeflex/primeflex.css';
@import 'node_modules/primeflex/primeflex.min.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-dark-blue/theme.css';

html, body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: .5rem;

  &-track {
    background: rgba(95, 99, 117, 0.53);
  }

  &-thumb {
    background: #59596e;

    &:hover {
      background: #727386;
    }
  }
}
